<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Musidi</title>
  </head>

<body>
 <div class="main">
	<h1>Musidi</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('musidi')}}"method="post">
    	<input type="text" name="Youtube" placeholder="Youtube Link" required="required" />

        <button type="submit" class="btn btn-primary btn-block btn-large">Generate</button>
    </form>

   <br>
   <br>

   <iframe width="560" height="315" src="https://www.youtube.com/embed/{{youtube}}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

   <h2>Vocals:</h2>
   <br>
   <br>
   <img src='/musidi/midi.png' style="transform: rotate(-90deg);">

    <br>
    <br>
    <br>
    <h2>Instrumentals</h2>
   <audio controls>
        <source src="/musidi/output/{{ output }}" type="audio/wav">
   </audio>

 </div>
</body>
</html>